html, body {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.mdl-layout__header {
  background-color: #212121;
}

.mdl-card--wide.mdl-card {
  width: 100%;
  margin-bottom: 16px;
}

.mdl-card--wide > .mdl-card__actions {
}

.mdl-card--wide > .mdl-card__title {
  /*background-color: #3F51B5;*/
  background-color: #212121;
  height: 180px;
  color: rgb(255, 255, 255);
}

.mdl-card--wide > .mdl-card__supporting-text {
}

.mdl-card--wide > .mdl-card__menu {
  font-style: italic;
  text-align: right;
  color: #FFF;
  color: rgba(255, 255, 255, 0.87);
}

.mdl-card--wide > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}

.mdl-card--wide > .mdl-card__actions > .material-icons {
  /*padding-right: 10px;*/
}

.mdl-card--wide > .mdl-card__actions,
.mdl-card--wide > .mdl-card__actions > .mdl-button {
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.54);
}

.mdl-card--wide > .mdl-card__actions > .mdl-button--icon {
  color: #F44336;
}

.book-event > .mdl-card__title {
  background: url('/img/welcome_card.jpg') center / cover;
  /*background: url('/img/books.jpg') center / cover;*/
}

.dance-event > .mdl-card__title {
  background: url('/img/dance.jpg') center / cover;
}

.concert-event > .mdl-card__title {
  background: url('/img/concert.jpg') center / cover;
}
